[submodule "third_party/vim-plug"]
	path = third_party/vim-plug
	url = https://github.com/junegunn/vim-plug

[submodule "third_party/tpm"]
	path = third_party/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
